* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}
/* nav-bar */
* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

.nav-links a {
  color: white;
  font-size: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 28.13px;
  text-decoration: none;
}
.nav-links a:hover {
  color: orange;
}
.nav-links {
  display: contents;
}

.hero-section {
  background-image: url('./assets/hero_image.png');
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   /* transition: transform 0.2s; */
  animation: float 3s ease-in-out infinite; 
}
 /* .hero-section:hover {
  transform: scale(1.05);
} */

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
} 

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0px 5vw;
}
.signUp_button {
  font-size: 14.53px;
  font-weight: 400;
  line-height: 28.13px;
  color: #ffffff;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.login_button {
  border: 1px solid #ffffff;
  width: 83.31px;
  height: 44px;
  border-radius: 40px;
  background-color: transparent;
  color: white;
  font-size: 14.3px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  cursor: pointer;
}
.nav-logo-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}

.nav-log img {
  width: 170px;
  height: 30px;
}

.nav-links .signup {
  display: none;
}

.signup {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hamburger {
  display: none;
}

.hero-content {
  padding-bottom: 15vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.search-bar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.searchinput {
}

.selected-type {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.type-buttons {
}
.hero_section_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 90vh;
}
.hero_section_content h1 {
  font-size: clamp(30px, 10vw, 70px);
  font-weight: 600;
  line-height: 84px;
  text-align: center;
  color: #ffffff;
}
.hero_section_content p {
  font-size: 14px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: center;
  color: #ffffff;
}
.button_content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5px;
}
.button_items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.hero_button {
  border-radius: 37px;
  text-align: center;
  padding: 0px 20px;
  width: 350px;
  height: 60px;
}
.hero_section_button {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  border: none;
  width: 148.28px;
  height: 60.13px;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.6px);
  -webkit-backdrop-filter: blur(1.6px);
  border: 0px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: transform 0.2s;
}
.hero_section_button:hover {
  color: orange;
  transform: scale(1.05);
}
.image_search {
  width: 25px;
  height: 25px;
  margin-top: 6px;
}
.image_button {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.button_content input {
  background-color: transparent;
  border: 0px solid;
  height: 20px;
  width: 200px;
  color: black;
  outline: none;
  font-size: 12px;
  margin-top: 10px;
}
.button_content input::placeholder {
  color: gray;
  font-size: 12px;
}

@media (max-width: 1050px) {
  .nav-links {
    margin-top: 40vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap:20px;
    padding-top: 40vh;
    width: 180%;
    height: 100vh;
    background: black;
    z-index: 1;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  .hero_section_content h1{
    line-height: 68px;
  }
  .hero_button{
    width: 281px;
  }
  .nav-log {
    z-index: 2;
  }

  .navbar .signup {
    display: none;
  }

  .nav-links .signup {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
  }
  .button_items {
    flex-wrap: wrap;
  }
  .hamburger {
    display: block;
    z-index: 2;
  }
  .hamburger h2 {
    font-size: 50px;
    color: #ffffff;
  }
  .nav-links a {
    font-size: 23px;
    line-height: 39px;
  }
}
@media (max-width: 400px) {
  .nav-links a {
      font-size: 14px;
      line-height: 20px;
  }
}


/* Modal Styles */
.modal-form {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.close-form {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-form:hover,
.close-form:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* login form */

.login-form h2 {
  font-size: 27px;
  padding: 10px;
  text-align: center;
}
.modal-content-form {
  background-color: whitesmoke;
  width: 400px;
  height: 370px;
  border-radius: 10px;
  padding: 16px 13px;
  margin: 13% auto;
}
.input-container {
  padding: 5px;
}
.input-container input {
  background-color: transparent;
  /* border-width: 0 0 1px; */
  width: 310px;
  height: 46px;
  color: black;
  border:1px solid gray

}
.input-container input::placeholder {
  color: gray;
  font-size: 12px;
  padding-left: 5px;
  font-weight: 600;
}
.login_container.input-container-checkbox input {
  width: 10px;
}
.login_container .input-container-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}
.login_container .input-container-checkbox .checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.login_container .input-container-checkbox .checkbox label {
  font-weight: 700;
  color: gray;
  font-size: 12px;
}
.login_container .input-container-checkbox a {
  text-decoration: none;
  color: rgb(235, 130, 24);
  font-weight: 700;
  font-size: 12px;
}
.button_loginNow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.login_container button {
  width: 180px;
  height: 38px;
  border-radius: 5px;
  background-color: rgb(240, 148, 67);
  border: none;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.login_container p {
  text-align: center;
  font-weight: 700;
  color: gray;
  font-size: 12px;
}
.login_container p a {
  text-decoration: none;
  color: rgb(232, 149, 34);
  font-weight: 700;
  font-size: 12px;
}

/* sign up form */
.register-form h2 {
  font-size: 27px;
  padding: 10px;
  text-align: center;
}
.modal-content_signUp {
  background-color: whitesmoke;
  width: 427px;
  height: 500px;
  border-radius: 10px;
  padding: 20px 20px;
  margin: 10% auto;
}
.signUp_container .input-container {
  padding: 5px;
}
.signUp_container .input-container input {
  background-color: transparent;
  /* border-width: 0 0 1px; */
  width: 310px;
  height: 46px;
  color: black;
  border:1px solid gray;
}
.signUp_container .input-container input::placeholder {
  color: gray;
  font-size: 12px;
  padding-left: 5px;
  font-weight: 600;
}
.signUp_container .input-container-checkbox input {
  width: 10px;
}
.signUp_container .input-container-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}
.signUp_container .input-container-checkbox .checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.signUp_container .input-container-checkbox .checkbox label {
  font-weight: 700;
  color: gray;
  font-size: 12px;
}
.signUp_container .input-container-checkbox a {
  text-decoration: none;
  color: rgb(233, 147, 42);
  font-weight: 700;
  font-size: 12px;
}

.signUp_container button {
  width: 336px;
  height: 38px;
  border-radius: 5px;
  background-color: rgb(230, 157, 56);
  margin: 10px 18px;
  border: none;
  color: white;
  font-weight: 700;
}
.signUp_container p {
  text-align: center;
  font-weight: 700;
  color: gray;
  font-size: 12px;
}
.signUp_container p a {
  text-decoration: none;
  color: rgb(249, 164, 37);
  font-weight: 700;
  font-size: 12px;
}

.signUp_container .input-container {
  padding: 5px;
}
.signUp_container input {
  background-color: transparent;
  border-width: 0 0 1px;
  width: 310px;
  height: 46px;
  color: white;
}
input::placeholder {
  color: gray;
  font-size: 12px;
  padding-left: 5px;
  font-weight: 600;
}
.signUp_container .input-container-checkbox input {
  width: 10px;
}
.signUp_container .input-container-checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.signUp_container .input-container-checkbox label {
  font-weight: 700;
  color: gray;
  font-size: 12px;
}
.button_register_now {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.signUp_container button {
  width: 180px;
  height: 38px;
  border-radius: 5px;
  background-color: rgb(231, 161, 54);
  margin: 10px 18px;
  border: none;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.signUp_container p a {
  text-decoration: none;
  color: rgb(159, 112, 23);
  font-weight: 700;
  font-size: 12px;
}
input[type=checkbox] {
  accent-color: orange;
}



/* section_card_item */
.section_card_content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 130px;
  overflow-x: scroll;
  scrollbar-width: none;
}
.section_card_item {
  padding: 40px 100px;
}
.section_card_item h2 {
  padding: 36px 5px;
}
.section_cards {
  width: 300px;
  height: 392.59px;
  border: 1px solid #e7e6e6;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: transform 0.2s;
}
.section_cards:hover {
  transform: scale(1.05);
}

.card_container img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card_text {
  padding: 20px 20px;
}
.card_text h3 {
  font-size: 15.63px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
.card_text p {
  font-size: 11.98px;
  font-weight: 400;
  line-height: 24.38px;
  text-align: left;
  color: #717171;
}

.card_text p:last-child {
  font-size: 12.49px;
  font-weight: 400;
  line-height: 24.38px;
  text-align: center;
  color: #05073c;
}
.card_text_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 20px;
}
.card_text_price p {
  font-size: 12.59px;
  font-weight: 400;
  line-height: 24.38px;
  color: #05073c;
}
@media(max-width:700px){
  .section_card_item{
    padding:20px 70px;
  }
}
/* background image with text */
.background_image_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 100px 100px;
  gap: 20px;
}
.image_contianer_1 {
  background-image: url("./assets/section_image_1.png");
  background-size: cover;
  width: 409.98px;
  height: 347.13px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 80px;
  border-radius: 10px;
  transform: rotate(5deg);
  transition: all transform 0.4s ease-in-out;
}
.image_contianer_1:hover {
  transform: scale(1.05);
}
.image_content p {
  font-size: 14.65px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: left;
  color: #ffffff;
}
.image_content h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  color: #ffffff;
}
.image_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 35px 25px;
}
.image_button_content button {
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
  color: #000000;
  width: 191px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.image_button_content {
  padding-left: 20px;
}
.image_contianer_2 {
  background-image: url("./assets/section_image_2.png");
  background-size: cover;
  width: 409.98px;
  height: 347.13px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 80px;
  border-radius: 10px;
  transform: rotate(5deg);
  transition: all transform 0.4s ease-in-out;
}
.image_contianer_2:hover {
  transform: scale(1.05);
}

.image_contianer_3 {
  background-image: url("./assets/section_image_3.png");
  background-size: cover;
  width: 409.98px;
  height: 347.13px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 80px;
  border-radius: 10px;
  transform: rotate(5deg);
  transition: all transform 0.4s ease-in-out;
}
.image_contianer_3:hover {
  transform: scale(1.05);
}
.image_container_1,
.image_container_2,
.image_container_3 {
  position: relative;
  width: 30%;
  border: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 32px;
}
#random-videos video {
  max-width: 100%;
  margin: 10px 0;
}

@media (max-width: 900px) {
  .background_image_container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 25px 70px;
  }
  .image_contianer_3 {
    gap: 20px;
    transition: none;
    transform: none;
  }
  .image_contianer_2 {
    gap: 20px;
    transition: none;
    transform: none;
  }
  .image_contianer_1 {
    gap: 20px;
    transition: none;
    transform: none;
  }
  .image_container_1:hover{
    transition: none;
  }
  .image_contianer_2:hover{
    transition: none;
  }
  .image_container_3:hover{
    transition: none;
  }
  .image_button_content button {
    width: 150px;
  }
  .image_content h3{
    line-height: 27px;
  }
  .image_content p {
    line-height: 19px;
  }
  .image_content {
    gap: 10px;
  }
}
/* text_content with card_items */
.text_content_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 100px;
  background-color: #eb662b0d;
  gap: 200px;
  margin: 60px 0px;
}

.left_side_content {
  max-width: 50%;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.left_side_content p{
font-size: 14.65px;
font-weight: 400;
line-height: 28.13px;
text-align: left;

}
.right_side_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 50%;
}

.text_content_card {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 150px;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  transform: rotate(-30deg);
  transition: all transform 0.2s ease-in-out;
}
.text_content_card:hover{
transform: scale(1.05);
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  position: relative;
}

.hidden {
  display: none;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.formGroup input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.text_content_card button {
  border: none;
  border-radius: 50%;
  background-color: transparent;
  width: 116px;
  height: 47px;
  text-align: center;
}

.btnTicket {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: orange;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#confirmationMessage {
  margin-top: 20px;
  font-size: 15px;
}

@media (max-width: 950px) {
  .right_side_cards {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .left_side_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
  }
  .text_content_card{
    transform: none;
    transition: none;
  }
  /* .traveler_cards:hover{
    transform: none;
    transition: none;
  } */
}
/* fetching the data from json data */
.fetch_data_container {
  width: 80%;
  margin: 0 auto;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  background-color: #eb662b0d;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}
.cards {
  background-color: snow;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
  width: 300px;
}
.cards:hover {
  transform: scale(1.05);
}
.card-content {
  padding: 20px;
}
.cards h2 {
  margin-top: 0;
  color: #333;
}
.cards p {
  margin: 5px 0;
  color: #666;
}

/* trending cards info */
.container {
  text-align: center;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.heading h1 {
  font-size: 24px;
  margin: 0;
}

.trending-destinations {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.destination {
  margin: 10px;
  transition: transform 0.2s ease-in-out;
}
.destination:hover {
  transform: scale(1.05);
}

.destination img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.more-images-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.image-container {
  transition: transform 0.2s;
}
.image-container:hover {
  transform: scale(1.05);
}
.more-images-container img {
  margin: 10px;
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}
.more-images-container p {
  text-align: center;
}

.button_images {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: orange;
  color: white;
  border-radius: 10px;
  border: none;
}

/* icon with text */
.icon_container {
  padding: 20px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
@media (max-width: 950px) {
  .icon_container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 35px;
  }
}
/* image container */
.image_containers {
  background-image: url("./assets/image_container.png");
  background-size: cover;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  /* transition: transform 0.2s;
  animation: float 3s ease-in-out infinite; */
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* .image_containers:hover {
  transform: scale(1.05);
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
} */

.image_containers h2 {
  font-size: 69.45px;
  font-weight: 700;
  line-height: 105px;
  text-align: center;
  color: #ffffff;
}
.image_containers p {
  font-size: 14.53px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: center;
  color: #ffffff;
}
.image_containers img {
  width: 60px;
  height: 60px;
}
.button_image {
  border-radius: 50%;
  border: 0px solid #ffffff;
  cursor: pointer;
}
.button_image:hover {
  background-color: #eb662b;
}
/* Modal styles */
.modals {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: fit-content;
  border-radius: 10px;
}
.modal-content video {
  border-radius: 10px;
}
.close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #aaa;
  font-weight: bold;
  cursor: pointer;
  font-size: 32px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* travelling info */

.traveler_container {
  background-color: #eb662b0d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 40px 100px;
}
.traveler_heading h2 {
  color: #05073c;
  font-size: 29.77px;
  font-weight: 700;
  line-height: 45px;
  text-align: left;
}
.traveler_cards {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.traveler_cards_items {
  background-color: #ffffff;
  border-radius: 20px;
}
.top_info h3 {
  color: #eb662b;
  font-size: 17.86px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
}
.top_info p {
  color: #05073c;
  font-size: 14.77px;
  font-weight: 500;
  line-height: 28.13px;
  text-align: left;
}
.top_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 20px 20px;
}
.bottom_info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  padding: 14px 22px;
}
.traveler_name h3 {
  color: #05073c;
  font-size: 14.65px;
  font-weight: 500;
  line-height: 22.5px;
  text-align: left;
}
.traveler_name p {
  color: #05073c;
  font-size: 13.67px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}
.review_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 60px 0px;
}
.review_info h2 {
  color: #05073c;
  font-size: 28.13px;
  font-weight: 700;
  line-height: 45px;
  text-align: left;
}
.review_info p {
  color: #05073c;
  font-size: 14.53px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: left;
}
@media (max-width: 950px) {
  .review_info {
    justify-content: center;
    align-items: center;
    padding: 20px;

  }
}

/* travel articles */
.article_container {
  padding: 40px 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}
.article_heading h2 {
  font-size: 29.65px;
  font-weight: 700;
  line-height: 45px;
  text-align: left;
  color: #05073c;
}
.articles_cards {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}
.articles_item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  width: min-content;
}
.articles_item img {
  width: 409.98px;
  height: 299.98px;
  border-radius: 12px;
}
.article_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
}
.article_content p {
  font-size: 13.89px;
  font-weight: 400;
  line-height: 18.2px;
  text-align: left;
  color: #05073c;
}
.article_content h4 {
  font-size: 17.3px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  color: #05073c;
}

/* subscribe section */
.subscribe_container {
  background-image: url("./assets/subscribe_image.png");
  height: 60vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 200px;
}
.subscribe_container h2 {
  width: 423.26px;
  height: 84px;
  color: #ffffff;
  font-size: 29.65px;
  font-weight: 700;
  line-height: 45px;
  text-align: left;
}
.subscribe_container p {
  width: 386.15px;
  height: 28.13px;
  font-size: 14.77px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: left;
  color: #ffffff;
}
.subscribe_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
.button_subscribe {
  font-size: 14.77px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  color: #000000;
  width: 143.27px;
  height: 60px;
  border-radius: 12px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}
.sub_button {
  width: 336px;
  height: 80px;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.4px);
  -webkit-backdrop-filter: blur(1.4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}
.sub_button input {
  background-color: transparent;
  border: 0px solid;
  height: 20px;
  width: 160px;
  color: white;
  outline: none;
}
input::placeholder {
  color: white;
}

/* footer */
.footer_container {
  background-color: #05073c;
  border-top: 1px solid #ffffff26;
  color: white;
}
.footer_upperPart {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
  padding: 100px 100px;
}
.footer_upperPart h3 {
  color: #ffffff;
  font-size: 19.69px;
  font-weight: 500;
  line-height: 37.5px;
  text-align: left;
}
.footer_upperPart p {
  color: #ffffff;
  font-size: 19.69px;
  font-weight: 500;
  line-height: 37.5px;
  text-align: left;
}
.footer_lowerPart {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px 100px;
  gap: 100px;
}
.footer_part_1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer_part_1 h4,
.footer_part_2 h4,
.footer_part_3 h4,
.footer_part_4 h4 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
}
.footer_part_1 p,
.footer_part_2 p,
.footer_part_3 p,
.footer_part_4 p {
  color: #ffffff;
  font-size: 14.41px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: left;
}
.footer_part_2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.footer_part_3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.footer_part_4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.send_button_container {
  background-color: #ffffff;
  border: 1px solid #e7e6e6;
  border-radius: 5px;
  padding: 10px 10px;
}
.button_send {
  border: none;
  color: #05073c;
  font-size: 14.53px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}
.send_button_container input {
  background-color: transparent;
  border: 0px solid;
  height: 20px;
  width: 160px;
  color: black;
  outline: none;
}
.send_button_container input::placeholder {
  color: #757575;
}
.mobile_item h5 {
  color: #ffffff;
  font-size: 19.69px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
}
.mobile_item p {
  color: #ffffff;
  font-size: 14.88px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: left;
}
.mobile_item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 0px 20px;
}
@media (max-width: 1152px) {
  .footer_lowerPart {
    flex-wrap: wrap;
  }
  .articles_cards {
    flex-wrap: wrap;
  }
  .traveler_cards {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .left_side_choose_content {
    padding: 10px 100px;
  }
  .right_side_choose_image {
    width: 395px;
  }
  .trending_info {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  .text_content_container {
    flex-direction: column;
    padding: 40px 50px;
    gap: 52px;
  }
  .footer_upperPart{
    padding: 70px 95px;
  }
}
@media (max-width: 996px) {
  .traveler_container {
    justify-content: center;
    align-items: center;
  }
  .traveler_cards_items {
    width: 613px;
    height: 272px;
  }
}
@media (max-width: 1400px) {
  .articles_item img {
    width: 300px;
  }
}
@media (max-width: 1920px) {
  .traveler_cards_items {
    width: 542px;
  }
  .footer_lowerPart {
    justify-content: space-between;
    gap: 62px;
  }
}
@media (max-width: 600px) {
  .articles_item img {
    width: 300px;
  }
  .articles_cards {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .left_side_content button {
    width: 287.98px;
  }
  .footer_lowerPart {
    justify-content: flex-start;
    gap: 40px;
  }
  .footer_upperPart{
    padding: 90px 100px;
    gap: 30px;
  }
}
@media (max-width: 2000px) {
  .traveler_cards_items {
    width: 420px;
  }
}
@media (max-width: 1970px) {
  .traveler_cards_items {
    width: 460px;
  }
}
@media (max-width: 1376px) {
  .traveler_cards_items {
    width: 387px;
  }
}
@media (max-width: 1399px) {
  .traveler_cards_items {
    width: 374px;
  }
}
@media (max-width: 900px) {
  .right_side_cards {
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 724px) {
  .article_container {
    justify-content: center;
    align-items: center;
  }
}
